<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.aptana.ruby.debug.core.launchConfigurationType">
<stringAttribute key="com.aptana.ruby.debug.ATTR_FILE_NAME" value="C:\Users\Kimber\Documents\Aptana Studio 3 Workspace\Viope\Luku8.rb"/>
<stringAttribute key="com.aptana.ruby.debug.ATTR_WORKING_DIR" value="C:\Users\Kimber\Documents\Aptana Studio 3 Workspace\Viope"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="com.aptana.ruby.debug.core.sourceLocator"/>
</launchConfiguration>
